/*
    TV chart overrides
    Note: unsafe, but here is no possibility to override these props via API
*/
.chart-page .onchart-tv-logo {
    display: none !important;
}

.chart-page .tv-side-toolbar .tools-group:nth-child(3) {
    display: none !important;
}
.chart-page .tv-side-toolbar .tools-group .button[title="Show Objects Tree"] {
    display: none !important;
}

.chart-page .header-group-switch-assets .button {
    padding: 7px 9px;
}
.chart-page .header-group-switch-assets img {
    width: 16px;
}