.tv-advanced-chart iframe {
    width: 100% !important;
    height: 700px !important;
}
@media only screen and (max-width: 1199px) {
    .tv-advanced-chart iframe {
        height: 500px !important;
    }
}
@media only screen and (max-width: 991px) {
    .tv-advanced-chart iframe {
        height: 400px !important;
    }
}