
.startedit, .canceledit{
    position: fixed;
    z-index: 5455;
    right: 50px;
    width: 40px;
    height: 40px;
    color: #000;
    padding: 8px 12px;
    border: 1px solid #7d7d7d;
    border-radius: 23px;
    text-align: center;
    top: 20px;
    cursor: pointer;
    background: #fff;

}

.canceledit{
    display: none;
    padding: 9px;
}

.startedit:hover, .canceledit:hover{
    background: #e4e4e4;
}

.startedit span, .canceledit span {
    display: block;
}